*{
    font-family: Netflix Sans, Helvetica Neue, Segoe UI, Roboto, Ubuntu, sans-serif;
    color: whitesmoke;
    background: url(https://img.freepik.com/free-vector/abstract-realistic-technology-particle-screensaver_52683-33640.jpg) no-repeat center center fixed;
    background-size: 100vh;
    background-color: rgb(48, 61, 59);
}


.flex{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 10vw;
    margin: 5vw;
    gap: 40px;
    border-radius: 35% 10%;
   
    
}
.flex form{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 30px;
}
.flex span{
    font-size: 40px;
    font-weight: 800;
   
}
.user input{
    position: relative;
    z-index: 10;
}