*{
    margin: 0;
    padding: 0;
    
}
body{
    position: absolute;
    background: url(https://img.freepik.com/free-photo/abstract-blur-empty-green-gradient-studio-well-use-as-background-website-template-frame-business-report_1258-71829.jpg) fixed;
    background-size: cover;
}

nav{
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color: rgb(48, 61, 59);
    height: 100px;
    margin-left:3vw ;
    border-radius: 30px;
    position: fixed; 
    top: 0;
    width: 94vw;
    z-index: 1000;
}
.navbar{
    margin:40px;
   
}
.dropbtn {
    background-color: whitesmoke;
    color: gray;
    padding: 12px;
    font-size: 16px;
    font-weight: 800;
    border: none;
    border-radius: 15px;
    cursor: pointer;
  }
  
  
  .dropbtn:hover, .dropbtn:focus {
    background-color:#2980b9;
  }
  
  
  .dropdown {
    position: relative;
    display: inline-block;
  }
  
  
  .dropdown-content {
    display: none;
    position: absolute;
    background-color: #f1f1f1;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
    border-radius: 7px;
  }
  
  
  .dropdown-content a {
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
    border-radius: 7px;
  }
  
  
  .dropdown-content a:hover {background-color: #ddd;}
  
  
  .dropdown:hover .dropdown-content {display: block;}
  
  
  .dropdown:hover .dropbtn {background-color: rgb(196, 193, 193);}
  
.logo img{
    padding:20px;
    height:90px;
    width:160px;
    
    
}
.login{
    padding:8px;
    border-radius: 7px;
    font-family:sans-serif ;
    font-weight: 800;
    text-decoration: none;
    background-color: whitesmoke;
    color: gray;

}
.student{
    padding:8px;
    border-radius: 7px;
    font-family:sans-serif ;
    font-weight: 800;
    text-decoration: none;
    background-color: whitesmoke;
    color: gray;
}
.Teacher{
    padding:8px;
    border-radius: 7px;
    font-family:sans-serif ;
    font-weight: 800;
    text-decoration: none;
    background-color: whitesmoke;
    color: gray;
}
.login:hover{
    background-color: white;
}
.join{
    margin:2px;
    padding:8px;
    border-radius: 7px;
    font-family:sans-serif ;
    font-weight: 800;
    background-color:rgb(48, 61, 59) ;
    color: white;
    border:none;
    text-decoration: none;
    
}
.main{
    display: flex;
    flex-direction: column;
    align-items:flex-start;
    justify-content: center;
    margin:9vw;
    padding: 20px;
    gap:30px;
}
.b1{
    font-family:Netflix Sans, Helvetica Neue, Segoe UI, Roboto, Ubuntu, sans-serif;
    font-size: 50px;
    font-weight: 800;
    width: 30vw;
    border-radius: 20px;  
}
.b2{
    font-family: Netflix Sans, Helvetica Neue, Segoe UI, Roboto, Ubuntu, sans-serif;
    font-size: x-large;
    font-weight: 500;
}

.num{
    background-color: whitesmoke;
    display: flex;
    align-items: center; 
    padding: 7px;
    border: 1px solid gray;
    border-radius: 7px;
    width: 25vw;
    gap:17px;
}
.join2{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 45px;
    width: 25vw;
    font-weight: 800;
    background-color:rgb(48, 61, 59);
    color: white;
    border-radius: 7px;
}
.grid{
    display: grid;
    grid-template-columns: 40vw 40vw;
    gap:7vw;
}
.svg_1 img{
    height: 25vh;
    width: 10vw;
}
.svg_1{
    display: flex;
    align-items: center;
    justify-content: center;
    gap:20px;
}
.grid_2{
    margin-left: 9vw;
    display: grid;
    grid-template-columns: 28vw 27vw 27vw;
    gap:30px;
    color: whitesmoke;
    font-family:Netflix Sans, Helvetica Neue, Segoe UI, Roboto, Ubuntu, sans-serif;

}
.item{
    padding: 30px;
    background-color:rgb(131, 164, 115) ;
    border-radius: 20px;
    height: 35vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap:50px;
}
.item img{
    height: 10vh;
    width: 6vw;
}

.heading{
    font-size: 30px;
    font-weight: 800;
}
.foot{
    font-size: x-large;
    font-weight: 400;
}
.item:hover{
    background-color: rgb(88, 111, 76);
    transition: 0.3s;
    box-shadow: 0 0 45px rgb(86, 113, 72);
    
}
.b1 span{
    color: #65a452;
    text-shadow: 4px 4px 8px #89e26e;
}
.lang{
    font-size: x-large;
    font-weight: 700;
    display: flex;
    gap:1.5vw;
    margin-top: 7vw;
    padding: 0 10vw;
    margin-left: 15vw;
    overflow-x:hidden;
    
}
.lang img{
    height:10vh;
    width:10vh;
}
.more{
    font-family:Netflix Sans, Helvetica Neue, Segoe UI, Roboto, Ubuntu, sans-serif ;
    margin-right: 10vw;
    margin-top: 5vh;
}
